*, ::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: linear-gradient(45deg, #a8ff78,#78ffd6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.App{
  margin-top: 60px;
}

ul{
  list-style: none;
}

#todo_item{
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: .1rem;
  margin-top: 20px;
  overflow: hidden;
  background-color: white;
}

.cross{
  text-decoration: line-through;
}

#delete{
  background-color: red;
}