*, ::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: linear-gradient(45deg, #a8ff78,#78ffd6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.App{
  margin-top: 60px;
}

ul{
  list-style: none;
}

#todo_item{
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 3px;
  margin-top: 20px;
  overflow: hidden;
  background-color: white;
}

.cross{
  text-decoration: line-through;
}

#delete{
  background-color:crimson;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  color: #ffffff;
}

#delete:hover{
  background-color: red;
}
input[type="submit"]{
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin: 5px;
}

input[type= "submit"]:hover{
  background-color: aqua;
}

input[type= "text"]{
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
}

input[type="text"]:focus, #filters:focus{
  border: 1px solid aqua;
}

#mark{
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
}
#mark:hover{
  background-color: aqua;
}

#filters{
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
}